.buffer {
  margin-bottom: 5%;
  padding: 8%;
  overflow: hidden; }
  .buffer img {
    height: 500px;
    width: 700px; }
  .buffer form input {
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid #aabed1;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    box-shadow: none;
    transition: 1s; }
    .buffer form input::-webkit-input-placeholder {
      color: #2c3e50; }
    .buffer form input:-moz-placeholder {
      /* Firefox 18- */
      color: #2c3e50; }
    .buffer form input::-moz-placeholder {
      /* Firefox 19+ */
      color: #2c3e50; }
    .buffer form input:-ms-input-placeholder {
      color: #2c3e50; }
    .buffer form input:focus {
      width: 100%;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #2c3e50;
      transition: 2s; }
      .buffer form input:focus::-webkit-input-placeholder {
        color: #aabed1; }
      .buffer form input:focus:-moz-placeholder {
        /* Firefox 18- */
        color: #aabed1; }
      .buffer form input:focus::-moz-placeholder {
        /* Firefox 19+ */
        color: #aabed1; }
      .buffer form input:focus:-ms-input-placeholder {
        color: #aabed1; }
  .buffer form .btn-login {
    color: white;
    padding: 5px 20px;
    background-color: #2c3e50;
    border: 1px solid #2c3e50; }
